#!/usr/bin/env python
PACKAGE = "corner_detection"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("max_corner_distance_to_line",    double_t,    0, "Max Distance between two lines to calc the intersection", 1.0, 0, 5 )
gen.add("frame_id",    str_t,    0, "base tf in which to publish the corners",  "base_link")


exit(gen.generate(PACKAGE, "corner_detection_node", "Reconfigure"))